# Archivos de Python generados
__pycache__/
*.pyc
*.pyo
dist/
build/
eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
*.egg-info/

# Entornos virtuales
venv/
.venv/
env/
api/.env/

# Archivos de configuración específicos del entorno (¡Ten cuidado con este!)
*.env
.env.*
!/.env.example  # Excepción para un archivo de ejemplo

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos de Docker (si usas Docker Compose)
docker-compose.override.yml
docker-compose.prod.yml

# Logs y archivos temporales
*.log
tmp/
temp/

# Archivos de datos (si son grandes o generados)
data/
*.sqlite
*.csv # Si son generados y no esenciales
test.db