:80 {
    # Servir archivos estáticos desde webapp/dist
    root * /srv
    file_server

    # Redirigir solicitudes a /api al servicio API
    handle /api/* {
        reverse_proxy api:8000/api
    }

    # Manejar rutas no encontradas y redirigir a index.html (para SPAs)
    handle {
        try_files {path} /index.html
    }
}